

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
button{
    text-decoration: none;
    background-color: chocolate;
    color: black;
    border: none;
    border-width: 20;
    border-radius: 5px;
    padding: 10px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
table{
    background-image: url("bar.jpg");
    width: 100%;
    height: 100px;
    margin: 0px;
}
td{
    text-align: right;
}
html{
    margin: 0px;
    padding: 0px;
}